<mat-form-field class="example-chip-list">
  <h1 class="bolding">Spell List</h1>
  <mat-chip-list #chipList aria-label="Spell selection">
    <mat-chip *ngFor="let spell of spells" [selectable]="true"
              [contentEditable]="true"
              [removable]="true" (removed)="deleteSpell(spell)">
      {{spell.name}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="true"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
