<div class="wizards" *ngIf="house">

  <h2>{{house.name}} Wizards</h2>
  <label> Filter by name:
    <input [(ngModel)]="wizardPrefix">
  </label>

  <div class="grid grid-pad">
  <div *ngFor="let wizard of wizards" class="col-1-3">
    <a *ngIf="house.id == wizard.house && (wizardPrefix==null || wizard.name.startsWith(wizardPrefix))">
      <div class="module hero">
        <img class="image" src={{wizard.image}}>
        <h4>{{wizard.name}}</h4>
      </div>
    </a>
  </div></div>

<!--  <ul>-->
<!--    <div *ngFor="let wizard of wizards">-->
<!--      <div *ngIf="house.id == wizard.house && (wizardPrefix==null || wizard.name.startsWith(wizardPrefix))">-->
<!--        <img class="image" src={{wizard.image}}>-->
<!--        <p class="textForImage">{{wizard.name}}</p>-->
<!--        <button class="button">Update</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ul>-->

</div>

