.wizards {
  padding: 0 1em
}

.wizards .image {
  height: 160px;
  width: 160px;
}

.filter-pipe-input {
  width: 15%;
  padding: 6px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.pipe-button {
  width: 13%;
  margin-left: 2px;
  margin-top: 0px;
  font-family: "Copperplate Gothic Light";
  font-weight: bold;;
  background-color: #eee;
  border: none;
  padding: 2px 2px;
  border-radius: 4px;
  cursor: pointer;
}

.pipe-button:hover {
  background-color: #cfd8dc;
}

.pipe-button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

button {
  width: 100%;
  margin-top: 0px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-top: 40px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
  padding-bottom: 35px;
}

a {
  text-decoration: none;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

h4 {
  position: relative;
}

.grid {
  margin: 0;
}

.col-1-3 {
  width: 33%;
}

.module {
  padding: 1px;
  text-align: center;
  color: #ab98ee;
  max-height: 160px;
  min-width: 120px;
  background-color: #3f525c;
  border-radius: 2px;
}

.module:hover {
  background-color: #eee;
  color: #607d8b;
}

.grid-pad {
  padding-top: 10px;
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}

@media (max-width: 111px) {
  .grid {
    margin: 0;
  }

  .module {
    min-width: 60px;
  }
}

.edit-button {
  font-family: Papyrus;
  font-size: 18px;
  font-weight: bolder;
}

.wizard-name {
  font-family: "Copperplate Gothic Light";
}
