<div class="wizards" *ngIf="house">

  <h2>{{house.name}} Wizards</h2>
  <label> Filter by name:
    <input [(ngModel)]="wizardPrefix">
  </label>

  <div class="grid grid-pad">
    <div *ngFor="let wizard of wizards" class="col-1-3">
      <a *ngIf="house.id == wizard.house && (wizardPrefix==null || wizard.name.startsWith(wizardPrefix))">
        <button mat-button (click)="openDialog(wizard)">Edit {{wizard.name}}</button>
        <div class="module hero">
          <img class="image" src={{wizard.image}}>
          <h4>{{wizard.name}}</h4>
        </div>
      </a>
    </div>
  </div>
</div>
