.wizards {
  padding: 0 1em
}

.wizards .image {
  height: 160px;
  width: 160px;
}

.wizards .image.textForImage {
}

.pipe-button {
  width: 10%;
  margin-top: 0px;
  font-family: Arial;
  background-color: #a1b0ff;
  border: none;
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
}

.pipe-button:hover {
  background-color: #dcdcd0;
}

.pipe-button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

button {
  width: 100%;
  margin-top: 0px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  /*padding-bottom: 30px;*/
}

[class*='col-']:last-of-type {
  padding-right: 0;
  padding-bottom: 35px;
}

a {
  text-decoration: none;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

h4 {
  position: relative;
}

.grid {
  margin: 0;
}

.col-1-3 {
  width: 33%;
}

.module {
  padding: 1px;
  text-align: center;
  color: #ab98ee;
  max-height: 160px;
  min-width: 120px;
  background-color: #3f525c;
  border-radius: 2px;
}

.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}

.grid-pad {
  padding-top: 10px;
}

/*.grid-pad > [class*='col-']:last-of-type {*/
/*  padding-top: 10px;*/
/*  padding-right: 20px;*/
/*  padding-bottom: 30px;*/
/*}*/
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}

@media (max-width: 111px) {
  .grid {
    margin: 0;
  }

  .module {
    min-width: 60px;
  }
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
