<h2 mat-dialog-title>{{passedWizard.name}}'s Profile</h2>
<mat-dialog-content class="mat-typography">
  <div class="container" style="width: 600px">

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="passedWizard.name" required>
    </div>

    <div class="form-group">
      <label>Age</label>
      <input type="text" class="form-control" [(ngModel)]="passedWizard.age" required>
    </div>

    <div class="form-group">
      <label>Spells</label>
      <app-spells-edit [wizard]="passedWizard"></app-spells-edit>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="end-buttons" mat-button (click)="saveWizard()">Save</button>
  <button class="end-buttons" mat-button (click)="deleteWizard()">Delete</button>
  <button class="end-buttons" mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
