<h2 mat-dialog-title>{{wizard.name}}'s Profile</h2>
<mat-dialog-content class="mat-typography">
  <div class="container" style="width: 600px">

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" value="{{wizard.name}}" [(ngModel)]="name" required>
    </div>

    <div class="form-group">
      <label>Age</label>
      <input type="text" class="form-control" value="{{wizard.age}}" [(ngModel)]="age" required>
    </div>

    <div class="form-group">
      <label>Spells</label>
      <app-spells-edit [wizard]="wizard"></app-spells-edit>
      <!--      <input type="text" class="form-control" value="{{wizard.spells}}" [(ngModel)]="spellString" required>-->
    </div>
    <button class="btn btn-success" (click)="submitUpdate()">Submit</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="submitUpdate()" mat-button mat-dialog-close>Update</button>
  <button mat-button mat-dialog-close>Cancel</button>
  <!--  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
</mat-dialog-actions>
