<h2 mat-dialog-title>{{passedWizard.name}}'s Profile</h2>
<mat-dialog-content>
  <div style="width: 600px">

    <div class="input-field">
      <label class="input-label">Name</label>
      <input type="text" class="form-control" [(ngModel)]="passedWizard.name" required>
      <div *ngIf="!passedWizard.name.trim()" class="validation-content">
        Invalid Name...
      </div>
    </div>

    <div class="input-field">
      <label class="input-label">Age</label>
      <input type="text" class="form-control" [(ngModel)]="passedWizard.age" required>
      <div *ngIf="!passedWizard.age" class="validation-content">
        You must enter age !
      </div>
    </div>

    <div class="input-field">
      <label class="input-label">Spells</label>
      <app-spells-edit [wizard]="passedWizard"></app-spells-edit>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="end-buttons" mat-button (click)="saveWizard()">Save</button>
  <button class="end-buttons" mat-button (click)="deleteWizard()">Delete</button>
  <button class="end-buttons" mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
