<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList aria-label="Spell selection">
    <mat-chip *ngFor="let spell of spells" [selectable]="selectable"
              [removable]="removable" (removed)="remove(spell)">
      {{spell}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="New spell..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-chip-list>
</mat-form-field>
